.navbarScroll {
  background-color: black;
}

.darkmode {
  color: white;
  background:black;
}

.bgimage {
  height:100vh;
  background: url('images/herobackground\ Test.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
}

.hero_title {
  font-size: 6.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.credit-text{
  text-align: left;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-text {
  text-align: right;
  position: absolute;
  top: 90%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: white;
}

#about, #skills, #projects, #contact {
  margin-top: 4rem;
  padding-top: 4rem;
}

.card-body{
  background-color: black;
}

#contact {
  padding-bottom: 4rem;
  background: black;
  background-color:black;
}

.imageAboutPage {
  width: 100%;
}

.skillsText.card {
  height: 280px;
  cursor: pointer;
}
.skillsIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}
.card-title {
  text-align: center;
}
.card:hover .servicesIcon {
  color: #008000;
}

.skillsText:hover {
  border: 1px solid #008000;
}

.pdx {
  width:100%;
  height: auto;
}

.social-icons {
  font-size: 36px;
  cursor: pointer;
}

.fa-github:hover,.fa-linkedin:hover, .fa-envelope:hover {
  color: #008000;
}

.fab {
  color: #000000;
}

#footer {
  background-color: #808080;
  text-align: center;
  background;black;
}