/* display background color black on navbar scroll */
.navbarScroll, .navbarDark {
  background-color: black;
}

.darkmode {
  color: white;
  background:black;
}

/* hero background image */
.bgimage {
  height:100vh;
  background: url('images/herobackground\ Test.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
}
/* text css above hero image*/
.hero_title {
  font-size: 6.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.credit-text{
  text-align: left;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-text {
  text-align: right;
  position: absolute;
  top: 90%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: white;
}

/* spacing on all sections */
#about, #skills, #projects, #contact {
  margin-top: 4rem;
  padding-top: 4rem;
}

.card-body{
  background-color: black;
}

#contact {
  padding-bottom: 4rem;
  background: black;
  background-color:black;
}

/* about section image css */
.imageAboutPage {
  width: 100%;
}

/* services section css */
.servicesText.card {
  height: 280px;
  cursor: pointer;
}
.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}
.card-title {
  text-align: center;
}
.card:hover .servicesIcon {
  color: #008000;
}
.servicesText:hover {
  border: 1px solid #008000;
}

/* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
  color: #008000;
}
.fab {
  color: #000000;
}
/* footer styling */
#footer {
  background-color: #808080;
  text-align: center;
  background;black;
}