.navbarScroll, .navbarDark {
  background-color: black;
}

.darkmode {
  color: white;
  background:black;
}

.bgimage {
  height:100vh;
  background: url('images/herobackground\ Test.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
}

.hero_title {
  font-size: 4.5rem;
}

.hero_desc {
  font-size: 1.5rem;
}

.tagline-text{
  position: absolute;
  text-align: left;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-text {
  position: absolute;
  text-align: right;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#about, #skills, #projects, #contact {
  margin-top: 4rem;
  padding-top: 4rem;
}

.card-body{
  display: grid;
  background-color: black;

}

.btn {
  margin-right:10px;
}

#contact {
  padding-bottom: 4rem;
}

.imageAboutPage {
  width: 100%;
}

.portfolioContent.card{
  height: 580px;
}

.skillsText.card {
  height: 310px;
  cursor: pointer;
}

.skillsIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}

.text-center {
  display: flex;
  /* margin: mt-auto; */
  justify-content: center;
  align-items: flex-end;
  
}

.card-text {
  display: grid;
}

.card-title {
  display: grid;
  text-align: center;
}
.card:hover .servicesIcon {
  color: #008000;
}

.skillsText:hover {
  border: 1px solid #008000;
}

.pdx {
  width:100%;
  height: auto;
}

.social-icons {
  font-size: 36px;
  cursor: pointer;
}

.fa-github:hover,.fa-linkedin:hover, .fa-envelope:hover {
  color: #008000;
}

.fab {
  color: #000000;
}



#footer {
  background-color: #808080;
  text-align: center;
  /* background;black; */
}